header {
	background: black;
	color: white;
	margin:0px ;
	display: inline;

	background-image: url("images/logo.png");
	background-size: 300px;
	background-repeat: no-repeat;
	
}
header h1 {
	margin: 0;
	color: rgb(0,183,255);
	padding: 20px 20px;
	display: inline;
	float: left;
}

h2 {
color: black;
margin: 0px;
}

body {
	font-family: Helvetica Neue, Helvetica, arial;
	margin: 0; 
	background-color: black; 
	background-image: url(rain.png);
	background-size: 100px;
}

h1 {
	font-style: italic;
	color: rgb(18,18,41);
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

p {background: none;
	color: black;
	padding:0px 0px 0px 0px;

	display: inline-block;
}

nav ul{
display: inline;

}

nav ul li{
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 5px;
	margin: 10px;
	float: right;
	position: relative;
	top: 10px;
}
nav ul li a {
	color:white;
  	text-decoration: none; }
	
nav ul li a:hover {text-decoration: underline;}

.row{
clear: both;
}

.row:after {
	clear:both;
	content:" ";
	display: table;
}

.heading {
	font-size: 30px;
	text-align: center;
	margin: 0px;
	padding: 200px 200px 200px 200px;
	background-image: url("utpic.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.col{
	background-position: center;
	color: white;
	float: left;
	padding: 1%;
	margin: 5%;
	width: 31%;
	border-radius: 10%;
}

.col h2{
	color: white;
}

.col2 {
	padding:75px;
	display: flex;
	flex-direction: row;
}
.col2 figure{
	margin:auto;
	padding-right: 20px;
	padding-left: 20px;
	height:200px;
	width: 200px;
	display: inline;
	flex-direction: row;
}

.col2 figure img {
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: black 0px 0px 10px;
	position: relative;
	width:100%;
	height:100%;
	overflow:hidden;
	margin-left:-50px;
}
div{
	color: black;
}

.aboutme {
	background-image: url("rain.jpg") ;
	padding: 0;
}

.aboutme h2{
	color: black;
	background: white;
	text-indent: 20px
}

.aboutme a h2{
	font-size: 35px;
}

.aboutme ul li {
	list-style-type: none;
	font-size: 25px;
	text-indent: 70px;
	&__image {
		width: 40%;
		float: right;
		margin: auto;
		flex-direction: row;
	}
	&__text {
		display:inline;
	}
}

.aboutme ul li p{
	background-position: center;
	color: white;
	float: left;
	padding: 0.5%;
	margin: 0%;
	width: 50%;
	border-radius: 0%;
}

.aboutme ul li figure img {
	width: 40%;
	padding: 1% 0% 1% 0% ;
	position: relative;
}













.prev {
	background-image:url("rain.jpg");
}
.prev h2{
	color: black;
	background: white;
	text-indent: 20px
}
.prev a h2{
	font-size: 35px;
}
.prev ul li{
	color: white;
	list-style-type: none;
	font-size: 25px;
	text-indent: 10px;
	display: flex;
	&__text {
		flex-direction: column;}
}
.prev ul li p{
	background-position: center;
	color: white;
	float: left;
	padding: 1%;
	margin-left: 0px;
	width: 60%;
	border-radius: 1%;
	text-indent: 100px each-line;
	flex-direction: column;

}









.contact {
	background-image:url("rain.jpg");
}

.contact h2{
	color: black;
	background: white;
	text-indent: 20px;
}

.contact a h2{
	font-size: 35px;
}

.contact ul li{
	color: white;
	font-size: 25px;
	display: inline-block;
	padding: 0% 3% 0% 2%;
}

h2 { 
clear: both;}
}


footer {
	clear:both;
	color:white;
}

footer h3 {
	color:white;
	float: right;